# Base de datos (PostgreSQL externa en el servidor)
SPRING_DATASOURCE_URL=jdbc:postgresql://host-de-tu-bd:5432/compras_microservice
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=cambiar_password_seguro

# Keycloak - Desarrollo
KEYCLOAK_ISSUER_URI=https://desa-sso-etimet.taurus-ts.com/realms/Etimet
KEYCLOAK_JWK_SET_URI=https://desa-sso-etimet.taurus-ts.com/realms/Etimet/protocol/openid-connect/certs

# RabbitMQ - Desarrollo
RABBIT_HOST=desa-rb-etimet.taurus-ts.com
RABBIT_PORT=5672
RABBIT_USER=cambiar_usuario_rabbit
RABBIT_PASSWORD=cambiar_password_rabbit
RABBIT_VHOST=/
RABBIT_SSL_ENABLED=false

# Puerto interno del contenedor
SERVER_PORT=8081

# Traefik
TRAEFIK_HOST=desa-orden-trabajo-etimet.taurus-ts.com
TRAEFIK_ROUTER=orden-trabajo-microservice-desa